:root {
    font: 1.5em "Apple Symbols";
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    margin-bottom: 5px;
    font: 2em "Apple Symbols";
}
.mainConteiner {
    margin: 0 auto;
    max-width: 1000px;
    box-shadow: 10px 15px 20px #165a996b;
}
.classHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #8cbc74;
    padding: 10px;
}
.classPhoto {
    width: 150px;
    height: 150px;
}
.classPhoto img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10%;
}
.classFullName {
    font: 700 60px "Apple Symbols", sans-serif;
}
.className {
    display: flex;
}
.classContacts {
    font: 18px "Apple Symbols";
}
.classSection {
    display: flex;
    justify-content: space-around;
    align-items: start;
    align-content: space-around;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
}
.classCode {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    margin-left: 30px;
    margin-right: 30px;
}
.code {
    padding: 5px;
    background-color: #adb5b5;
}
.SkillsHead {
    margin-block-start: 0;
}
.classSkills {
    margin-top: 30px;
}
.list {
    margin-left: 15px;
}
.sectionRight {
    margin-left: 30px;
}
.education {
    margin-top: 30px;
}
.footer {
    margin-top: 40px;
    padding: 30px 30px;
    background-color: #8cbc74;
}
.vl {
    border-left: 1px solid black;
    height: 300px;
}
.gl {
    border-bottom: 1px solid black;
    width: max-content;
    margin: 10px 10px;
}
hr {
    border: none;
    background-color: black;
    color: black;
    height: 1px;
    margin: 20px;
}