:root {
    font-family: "Apple Symbols";
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mainConteiner {
    margin: 0 auto;
    max-width: 1200px;
    box-shadow: 10px 15px 20px #165a996b;
}
.classHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #8cbc74;
    padding: 10px;
}
.avatarClass {

}
.classPhoto {
    width: 150px;
    height: 150px;
}
.classPhoto img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10%;
}
.classFullName {
    font: 700 60px "Apple Symbols", sans-serif;
}
.className {
    display: flex;
}
.classContacts {
    font: 18px "Apple Symbols";
}
.classSection {
    display: flex;
    justify-content: space-around;
    align-items: start;
}
.classCode {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.code {
    background-color: darkcyan;
}
#idSkillsList {

}
.SkillsHead {
    margin-block-start: 0;

}
.classSkills {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}
.list {
    margin-left: 15px;
}