:root {
    font-family: "Apple Symbols";
}
.mainConteiner {
    margin: 0 auto;
    box-shadow: 10px 15px 20px #165a996b;
}
.classHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8cbc74;
    padding: 10px;
}
.avatarClass {

}
.classPhoto {
    width: 150px;
    height: 150px;
}
.classPhoto img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10%;
}
.classFullName {
    font: 700 60px "Apple Symbols", sans-serif;
}
.className {
    display: flex;
}
.classContacts {
    font: 18px "Apple Symbols";
}